body {
  background-image: url(../Media/thank\ you.gif);
  background-repeat: round;
}
.container {
  border: 2px solid blue;
  opacity: 0.8;
  margin: auto;
  margin-top: 15%;
  background-color: white;
  width: 500px;
  text-align: center;
}
.container form button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
